/AllSkyFree
/AllSkyFree.meta
/cannon
/cannon.meta
/Castle\ 1\ LITE
/Castle\ 1\ LITE.meta
/com
/com.meta
/Oculus
/Oculus.meta
/Plugins
/Plugins.meta
/Resources
/Resources.meta
/unity-chan\!
/unity-chan\!.meta
/candle\ anime.anim
/candle\ anime.anim.meta
/CarvedPost2.controller
/CarvedPost2.controller.meta